@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";


.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 100px;
    height: 8px;
  }
  
*::-webkit-scrollbar-track {
    background: var(--card-bg);
}
  
*::-webkit-scrollbar-thumb {
    // background-color: var(--inverted-primary-color);
    background: url('https://w.forfun.com/fetch/70/7047b702475924ba8f8044b5b5ca56ba.jpeg') center center/cover no-repeat;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}
