.ArticleViewSelector{
    .notSelected {
        color: var(--secondary-color);
    }
    
}

.ArticleViewSelectorRedesigned{

    .notSelected {
        color: var(--light-bg-redesigned);
    }
    display: flex;
    flex-direction: row;
    gap: 8px;

}

