.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    line-height: 22px;

    &:hover {
        color: var(--accent-redesigned);

        .addoneLeft svg, .addoneRight svg {
            color: var(--accent-redesigned)
        }
    }
}

.withAddon {
    padding: 0 16px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
.filled{
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m-redesigned);
}

.size_l {
    font: var(--font-l-redesigned);
}

.size_xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}

.outline_red{
    border: 1px solid var(--red-light);
    color: var(--red-light);
    background: none;
}

.addoneLeft, .addoneRight {
    display: flex;
}

.addoneLeft svg, .addoneRight svg{
    color: var(--hint-redesigned)
}

