.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 16px;
    border: 2px solid var(--icon-redesigned);
    width: 100%;
    height: 32px;
    
}
.focus{
    border: 2px solid var(--accent-redesigned);

    .addoneLeft svg, .addoneRight svg {
        color: var(--accent-redesigned)
    }
}

.withAddoneLeft{
padding-left: 8px;
}

.withAddoneRight{
padding-right: 8px;
}


.addoneLeft, .addoneRight{
    display: flex;
}



.input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.readonly {
    opacity: 0.7;
}
